.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    border: 3px solid black;
    padding: 1px;
    /* invert the content upside down, but the sides have to remain in the same columns */
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.chessboard div{
    background-color: #e8e8e8;
}

.chessboard.blackview {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.chessboard.blackview div img{
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.chessboard .\031.a, .\033.a, .\035.a, .\037.a,
.chessboard .\031.c, .\033.c, .\035.c, .\037.c,
.chessboard .\031.e, .\033.e, .\035.e, .\037.e,
.chessboard .\031.g, .\033.g, .\035.g, .\037.g,
.chessboard .\030.b, .\032.b, .\034.b, .\036.b, .\038.b,
.chessboard .\030.d, .\032.d, .\034.d, .\036.d, .\038.d,
.chessboard .\030.f, .\032.f, .\034.f, .\036.f, .\038.f,
.chessboard .\030.h, .\032.h, .\034.h, .\036.h, .\038.h {
    background-color: grey;
}


.chessboard div {
    text-align: center;
    width: 50px;
    height: 50px;
}

.chessboard div:hover {
    opacity: 0.5;
}
.chessboard div.a:hover {
    opacity: 0.5;
}

img {
    width: 100%;
}

img[src="https://upload.wikimedia.org/wikipedia/commons/4/43/Chess_Ndt45.svg"], img[src="https://upload.wikimedia.org/wikipedia/commons/1/17/Chess_Nlt45.svg"] {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

